{% extends "global/Page.html" %}
{% load otree static %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'payment_info/css/external.css' %}" rel="stylesheet">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'payment_info/js/External.js' %}"></script>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div id="loader">

    </div>

    <div id="content" style="display: none" class="animate-bottom">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="{% static 'payment_info/img/uibk_logo.PNG' %}" class="image_resize">
                </div>
            </div>
        </nav>
        <section id="Welcome">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Welcome</h2>
                        <p>Thank you for participating in the experiment! In order to receive your payoff we ask you to
                            leave
                            your name and IBAN here. This information is stored in an external database,
                            separated from the
                            decisions and
                            choices you made in the experiment. You will receive your payoff
                            in the course of the next 6 weeks.</p>

                        <p>
                        <form action="https://docs.google.com/forms/d/e/1FAIpQLScc7TncWV2_Tzwurq3_xz7jgIEz0f0dc1ZsIQBD3lzZq55E9A/formResponse"
                    method="post" target="hidden_iframe" onsubmit="submitted=true">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="participant_code" name="entry.564270328"
                                       placeholder="not visible: participant code" style="display: none" value="{{ participant_code }}">
                            </div>

                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="payoff" name="entry.1632998851"
                                       placeholder="not visible: payoff" value="{{ total_payoff }}" style="display: none">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="name" name="entry.487668435"
                                       placeholder="Enter full name of bank account holder" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="iban" name="entry.1271164732"
                                       aria-describedby="ibanHelp"
                                       placeholder="Enter IBAN"  required>
                            </div>

                            <p>

                            </p>

                            <div class="form-group">
                                <input type="text" class="form-control" id="iban_confirm" name="entry.979605448"
                                       aria-describedby="ibanHelp"
                                       placeholder="Confirm IBAN" required>
                                <small id="Help" class="form-text text-muted">Your email and IBAN will be stored in
                                    another
                                    external
                                    database and cannot be connected to the choices you made in the experiment.</small>
                            </div>

                        <p>

                        <div>
                        <button class="otree-btn-next btn btn-primary" onclick="validateiban()">Next</button>
                        </div>
                        </form>
                        </p>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
