/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */

.otree-body {
    min-width: 560px;
    max-width: 720px;
    margin: 0 auto 2.5rem;
}

.h2,.h3 {
    text-align: center !important;
}
