{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'gf_game/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
<script src="{% static 'gf_game/js/Bid.js' %}"></script>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}


        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar App-->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label style="display: none">
            Experimental task 2 of 2
        </label>
        <div class="progress" style="display: none">
            <div class="progress-bar-task" role="progressbar" style="width:{{ task_progress }}%">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Market -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Market {{market}} of 5
        </label>
        <div class="progress">
            <div class="progress-bar-task bg-info" role="progressbar" style="width:{{ market_progress }}%">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Periods-->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Period {{stage}} of 11
        </label>
        <div class="progress">
            <div class="progress-bar-task bg-info" role="progressbar" style="width:{{ stage_progress }}%">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Instructions button-->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="instructions">
                    {{include C.INSTRUCTIONS_TEMPLATE}}
        </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  style="color: white" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


<div class="card bg-light">
<div class="card-body">
    <h2>
        Beliefs
        <button type="button" class="btn btn-outline-secondary instructions-btn" data-bs-toggle="modal" data-bs-target="#myModal" >
        Instructions
        </button>
        <div class="next-button">
     <button class="btn btn-primary">Continue</button>
</div>
    </h2>

    <p>
    <h5>What do you think is the token's value?</h5>
    We told you before that in this market {{if treatment == 'BASELINE'}} the only possible value of the token is <b>{{0|c}}</b>.
    {{else}} the possible values for the token are <b>{{0|c}}</b> an <b>{{H_value}}</b>. {{endif}}
        Please use the slider below to indicate in % how sure you are that the token's
        value is higher than {{0|c}}. For help, you also
        see the corresponding statement according to your input on the slider below.
    </p>

    <table class="table m-0 table-slider p-0">
        <tbody>
            <tr>
                <td class="slider-labels p-0">{{0 | c}}</td>
                <td class="slider-labels table-slider-right p-0">a higher value than {{0 | c}}</td>
            </tr>
        </tbody>

    </table>

    <p>
    <input type="range" oninput="document.getElementById('sliderinput').innerHTML = this.value" name="{{belief_other_value}}" style="width: 100%">
    <div class="statement_belief">
        I am  <span id="sliderinput">50</span><b>%</b> sure, that the value of the token is higher than {{0 | c}}.
    </div>
    </p>

    <br>

    <p>
        <h5>How many of the others in your group do you think bid to buy in this round?</h5>

    <br>

    <table class="table">
        <tbody>
        <tr>
            {{for i in 0,1,2,3,4,5}}
            <td class="table-radio-btn p-0">
                <input type="radio" id= "belief_current" name="{{belief_bidders_current}}" value="{{i}}" required checked>
            </td>
            {{endfor}}
        </tr>
        <tr>
            {{for i in 0,1,2,3,4,5}}
            <td class="table-radio-btn slider-labels p-0">
                {{i}}
            </td>
            {{endfor}}
        </tr>
        </tbody>
    </table>

    <br>

    </p>

    {{if not stage == 11}}
    <p>
        <h5>How many of the other in your group do you think will bid to buy in the following round?</h5>

     <br>

    <table class="table">
        <tbody>
        <tr>
            {{for i in 0,1,2,3,4,5}}
            <td class="table-radio-btn p-0">
                <input type="radio" id= "belief_following" name="{{belief_bidders_following}}" value="{{i}}" required checked>
            </td>
            {{endfor}}
        </tr>
        <tr>
            {{for i in 0,1,2,3,4,5}}
            <td class="table-radio-btn slider-labels p-0">
                {{i}}
            </td>
            {{endfor}}
        </tr>
        </tbody>
    </table>

    </p>
    {{endif}}

</div>
</div>

<div class="next-button">
     <button class="btn btn-primary">Continue</button>
</div>

{% endblock %}
