<div class="card bg-light">
<div class="card-body">
    <h3>
        Instructions
    </h3>
    <p>
        You are about to participate in an experiment that includes <b> {{C.NUM_MARKETS}} independent</b> sequential markets consisting of up to
        <b>{{C.NUM_PERIODS}} periods each</b>. You start each market with your earned endowment of <b>{{C.ENDOWMENT}}</b>. One market will be randomly chosen
        for payment. The chosen market will be revealed to everyone only at the end of the experiment. Your earnings in
        the chosen market will be paid to you in private (by bank transfer).
    </p>

    <h5>
        Each of the market rounds proceeds as follows:
    </h5>

    <p>
        One non-divisible token is sold and resold (up to) {{C.NUM_PERIODS}} periods.
    </p>

    <p>
        The  possible values are publicly announced on the screen from the beginning and throughout the
        market. Every participant in the market has identical prior information. The default value of the token is zero.
        If another value is possible, it is shown on the
        {{if information == 'AMBIGUITY'}}screen, but no probability of occurrence of this second value is revealed at any time
        {{else}}screen.{{endif}}
    </p>

    <p>
        There are {{C.PLAYERS_PER_GROUP}} participants in the market throughout the experiment. You are one of them. <b>The composition of the
        market participants never changes.</b>
    </p>

    <p>
        In each period, you and the other {{number_others}} participants bid to buy or decide not to bid for the token at the
        announced period price. The following table shows you the prices for the token in each period.
    </p>

    <table class="table table-striped intro-table mb-3 mx-auto w-auto">
        <thead class="table-dark">
            <tr>
                <th class="caption-table">
                    Prices across periods in the market
                </th>
            </tr>
        </thead>
        <tbody>
        {{for period,price in bid_list}}
        <tr>
            <td>In <b>period {{period}}</b>, the period price is <b>{{price}}</b>.</td>
        </tr>
        {{endfor}}

        </tbody>
    </table>

    <p>
        <b>In period 1</b>, the buyer pays the price of {{0.01 | c}} to the experimenter and becomes the first owner of the token.
        The buyer is chosen randomly among the bidders.
    </p>

    <p>
        <b>In period 2 and all later periods</b> the price always doubles from period to period and the buyer pays the price to
        the previous owner and becomes the new owner of the token. The previous owner has the privilege to keep the
        token, if s/he decides to bid for the token, so s/he is never forced to sell it. If the previous owner decides
        not to bid for the token, the buyer is randomly chosen among the bidders of the period.
    </p>

    <p>
        {{ if treatment == 'BASELINE'}}
        <b>The market ends</b>, if there is no bidder at a given period or if period {{C.NUM_PERIODS}} is reached.
        {{elif treatment == 'AMBI_SYM'}}
        <b>The market ends</b>, if there is no bidder at a given period or if period {{C.NUM_PERIODS}} is reached.
        The last owner of the token learns and receives the value of the token in the market.
        {{elif treatment == 'RISK_SYM'}}
        <b>The market ends</b>, if there is no bidder at a given period or if period {{C.NUM_PERIODS}} is reached.
        The last owner of the token learns and receives the value of the token in the market.
        {{elif treatment == 'AMBI_ASYM'}}
        <b>The market ends</b>, if there is no bidder at a given period or if period {{C.NUM_PERIODS}} is reached. <b>After buying the token, the
        owner learns the value of the token</b> and after the last period the last owner receives the value of the
        token in the market.
        {{elif treatment == 'RISK_ASYM'}}
        <b>The market ends</b>, if there is no bidder at a given period or if period {{C.NUM_MARKETS}} is reached. <b>After buying the token,
        the owner learns the value of the token</b> and after the last period the last owner receives the value of the
        token in the market.
        {{endif}} At the end of each market you are informed of the earnings in that round.
    </p>

    <p>

    </p>


    <p>
        <b>Following your bid in a given period</b>, you will be asked to enter your expectation of the token’s value, and how
        sure you are about this value. You will also be asked your expectation about the number of bidders in the market
        in the ongoing and the following period. Specifically, you guess the number of bidders among the other {{number_others}}
        participants in the ongoing period and also in the following period. At the end of a market, one
        period-prediction is selected for possible payment.
    </p>

    <p>
        The market that is selected for payment will be revealed to <b>everyone after the last market is over</b>.
        If your period-prediction (on value and number of bidders) is correct, a payment of {{1 | c}} is added to your
        earnings if that market is chosen for payment.
    </p>

</div>
</div>
