{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'gf_game/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}

{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}


        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar App-->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label style="display: none">
            Experimental task 2 of 2
        </label>
        <div class="progress" style="display: none">
            <div class="progress-bar-task" role="progressbar" style="width:{{ task_progress }}%">
                <span class="sr-only"></span>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Market -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Market {{market}} of 5
        </label>
        <div class="progress" style="display: none">
            <div class="progress-bar-task bg-info" role="progressbar" style="width:{{ market_progress }}%">
                <span class="sr-only"></span>
            </div>
        </div>

<br>

         <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Periods-->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <label>
            Period {{period}} of 11
        </label>
        <div class="progress">
        {{for p, token_bid in bid_list}}

        <div class="progress-bar progress-bar-task bg-info" role="progressbar" style="width:{{ period_progress }}%; opacity: {{if period >= p}}1{{else}}0.3{{endif}}">{{token_bid}}</div>
            {{endfor}}
        </div>

<br>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">No buyer!</h4>
  <p>In this period, no player in the group bid to buy. Hence, the market ends here.</p>
  <hr>
  <p class="mb-0">After 10 seconds, you are automatically forwarded.</p>
</div>

{% endblock %}
