{% extends "global/Page.html" %}
{% load otree static %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'gf_game/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}




<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Market {{market}}</h4>
  <p class="mb-0">Whenever you are ready, click the button below.</p><hr>
  <p class="mb-0">After 10 seconds, you are automatically forwarded.</p>
</div>

<div>
     <button class="btn btn-primary">Ready</button>
</div>

{{ endblock }}
